*{
    font-family: Arial, Helvetica, sans-serif; 
}

.mainGrid {
    display: grid;
    grid-template-columns: 20% 60% 20%; 
    height: 100vh;
}

#allUsers{
    background-color: yellow;
}

#textArea{
    display: grid;
    grid-template-rows: 10% 85% 5%;
}

.grid--two-cols {
    display: grid;
    grid-template-columns: 90% 10%;
}

#messages {
    background-color: teal;
    margin:0;
    padding: 0;
}

#currentUser {
    background-color: blue;
}
